PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/habome
JWT_SECRET=dev_secret_change_me
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=development
CLIENT_URL=http://localhost:3000
